.menu {
	background-color: $dark;
	.scroll-content {
		.list {
			.item {
				text-align: center;
				background-color: $dark;
				border: 0px;
				.icon {
					font-size: 2em;
					color: white;
				}
				&-complex {
					padding: inherit;
					a {
						background-color: $dark;
						text-align: center;
						padding: 15px 0px;
					}
				}
			}
		}
	}
}


.pane {
	background-color: $dark2;
	.bar {
		&.bar-header {
			background-color: rgba(21,21,21,0.5);
			.title {
				color: white;
			}
			.button {
				color: white;
			}
			.back-button {
				.icon, .icon:before {
					font-size: 1em;
					margin: 0px 5px;
				}
				.default-title, .previous-title {
					font-size: 0.8em;
					margin-top: -1px;
					display: table;
					&.hide {
						display: none;
					}
				}
			}
		}
	}
	.view-container {
		.scroll-content {
			
		}
	}
}

.page-profile {
	.bg-profile {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 250px;
		background-size: cover;
		background-position: center top;
	}
	.scroll-content {
		background-color: rgba(21,21,21,0.5);
	}
	.user-wrapper {
		.user-profile {	
			text-align: center;
			color: white;
			margin-top: 20px;
			margin-bottom: 25px;
			.avatar {
				width: 100px;
				height: 100px;
				background-size: cover;
				border-radius: 50%;
				margin: 0px auto;
				border: solid 5px $dark2;
			}
			.name {
				text-align: center;
				font-size: 1.3em;
				margin-top: 10px;
				font-size: 1.2em;
				text-align: center;
			}
			.row {
				.left {
					text-align: right;
				}
				.right {
					text-align: left;
				}
			}
		}
		.user-bio {
			color: white;
			padding: 25px;
			font-size: 1.1em;
			text-align: center;
		}
		.slider-pager {
			.slider-pager-page {
				color: $light;
			}
		}
	}
	.card {
		position: relative;
		border-top: solid 2px $light;
		.avatar {
			position: absolute;
			width: 75px;
			height: 75px;
			z-index: 100;
			border-radius: 50%;
			background-size: cover;
			left: 10px;
			top: 10px;
			border: solid 2px $light;
		}
	}
}

.page-search {
	.list.card {
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		.item {
			background-color: rgba(255,255,255,0.75);
			.icon-text {
				font-size: 1em;
			}
		}
	}
}

.page-player {
	.item-bg-image {
		padding: 0px;
		margin: 0px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.controller {
		background-color: rgba(62, 39, 35, 0.49);
		display: table;
		width: 100%;
		.buttons {
			display: table;
			margin: 20px auto;
			.button {
				border-radius: 50%;
				width: 50px;
				height: 50px;
				padding: 3px;
				margin: 0px 5px;
				background-color: transparent;
				color: $energized;
				border: solid 2px $energized;
				&.backward, &.forward {
					width: 30px;
					height: 30px;
					padding: 1px;
					.icon:after {
						font-size: 0.8em;
					}
				}
			}
		}
		.seek-bar {
			position: relative;
			width: 95%;
			margin: 20px auto;
			height: 10px;
			.seek {
				width: 100%;
				height: 10px;
				position: absolute;
				top: 0px;
				left: 0px;
				background-color: $stable;
				border-radius: 10px;
				&-green {
					background-color: $energized;
				}
				&-grey {
					background-color: grey;
				}
			}
		}
	}
	.ion-heart {
		color: $dark;
		&.loved {
			color: $positive;
		}
	}
}