<ion-view view-title="Favorites" class="page-search page-favorites">
	<ion-content>

		<div class="list card" ng-repeat="res in tracks" ng-click="openSong(res.id)">

			<div class="item item-image">
				<img ng-src="{{res.artwork_url}}">
  			</div>

			<div class="item item-avatar item-icon-right">
				<img ng-src="{{res.user.avatar_url}}">
				<h2>{{res.title}}</h2>
				<p>{{res.user.username}}</p> <i class="icon icon-text">{{durationToTime(res.duration)}}</i>
			</div>

		</div>

		<ion-infinite-scroll ng-if="canLoadMore()" icon="ion-loading-c" on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
</ion-view>