<ion-view view-title="Player" class="page-player">
	<ion-content>

		<div class="card info" ng-show="track">
			<div class="item item-bg-image" ng-style="{'background-image': 'url(' + track.artwork_url + ')'}">
				<div class="controller">
					<div class="buttons">
						<div class="button backward" ng-click="doPlay()"> <i class="icon ion-ios-skipbackward"></i>
						</div>
						<div class="button play" ng-click="doPlay()"> <i class="icon ion-play" ng-class="{'ion-play': !isPlaying, 'ion-pause': isPlaying}"></i>
						</div>
						<div class="button forward" ng-click="doPlay()">
							<i class="icon ion-ios-skipforward"></i>
						</div>
					</div>

					
					<div class="seek-bar">
						<div class="item range range-energized">
							<input type="range" min="0" max="100" value="0" id="seekPercent">
						</div>
						<div class="seek seek-bg"></div>
						<div class="seek seek-grey" id="bufferPercent"></div>
					</div>
				</div>
			</div>
			<div class="item item-avatar item-icon-right">
				<img ng-src="{{track.user.avatar_url}}">
				<h2>{{track.title}}</h2>
				<p>{{track.user.username}}</p>
				<i class="icon ion-heart" ng-class="{'loved': isLoved}" ng-click="setLoving(track.id)"></i>
			</div>
		</div>

		<div class="list card" ng-if="track">
			<div class="item item-icon-left" ng-click="addSelectPlaylist(track.id)">
				<i class="icon ion-plus-circled"></i>
				Add To Playlist
			</div>
		</div>

	</ion-content>
</ion-view>