<ion-view view-title="Playlist" class="page-playlist">
	<ion-content>

		<ion-refresher pulling-text="Pull to refresh ..." on-refresh="doRefresh()"></ion-refresher>

		<div class="login-wrapper" ng-if="!user.isLogin">
			<div class="desc">
				You're not logged in to Soundcloud.
			</div>
			<div class="button-image" ng-click="user.login()">
				<img src="img/btn-connect-l.png" alt="">
			</div>
		</div>

		<div class="list card playlist-card" ng-repeat="list in playlists" ng-if="user.isLogin">

			<div class="item item-icon-left" ng-click="openPlaylist(res.id)">
				<div class="icon icon-text num-track">{{list.track_count}}</div>
				<h2>{{list.title}}</h2>
				<p>{{durationToTime(list.duration)}}</p>
			</div>
			<div class="item item-track item-avatar" ng-repeat="track in list.tracks" ng-click="openSong(track)">
				<img ng-src="{{track.user.avatar_url || track.artwork_url}}">
				<h2>{{track.title}}</h2>
				<p>{{durationToTime(track.duration)}} - {{track.user.username}}</p>
			</div>

		</div>

		<div class="card" ng-if="(user.isLogin && !playlists.length && !isLoadingData)">
			<div class="item item-divider">
				No Playlist
			</div>
			<div class="item item-body">
				You dont have any playlist. <br>Create One?
			</div>
			<div class="item item-input item-stacked-label">
				<form ng-submit="doCreatePlaylist()">
					<span class="input-label">Playlist Title</span>
					<input type="text" placeholder="Title" ng-model="newlist.title">
					<button class="button button-clear button-positive" type="submit">Create Playlist</button>
				</form>
			</div>
		</div>

		<ion-infinite-scroll ng-if="canLoadMore()" icon="ion-loading-c" on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
	</ion-content>
</ion-view>